---
layout: archive
---

{{ content }}

<ul class="posts-list">
{% for category in site.categories %}
  <h2 id="{{category | first}}" >{{category | first}}</h2>
  {% for posts in category %}
    {% for post in posts %}
      {% if post.url %}
      <a class="title-href" href="{{ post.url | prepend: site.url }}">
        <li>
          {{ post.title }}
          <time class="title-date">{{ post.date | date:"%F" }}</time>
        </li>
      </a>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}
</ul>