---
layout: archive
---

{{ content }}

<ul>
{% for category in site.categories %}
  <h2 id="{{category | first}}" >{{category | first}}</h2>
  {% for posts in category %}
    {% for post in posts %}
      {% if post.url %}
      <li style="line-height: 0.8em;">
        <p>
          <a style="font-size:20px; color:#5d5d5d;" class="title" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
          <time style="font-size:16px; color:#8c8c8c;">{{ post.date | date:"%F" }}</time>
        </p>
      </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}
</ul>